#alembic==0.7.4
alembic==1.0.5
#flasgger==0.5.13
flasgger==0.8.3
#Flask==0.12.3
Flask==0.12.4
#flask-marshmallow==0.4.0
flask-marshmallow==0.9.0
#Flask-Migrate==1.2.0
flask-migrate==2.2.1
#Flask-RESTful==0.3.1
flask-restful==0.3.6
#Flask-SQLAlchemy==2.0
flask-sqlalchemy==2.3.2
#Flask-Script==2.0.5
flask-script==2.0.6
itsdangerous==0.24
#marshmallow==2.15.1
marshmallow==3.0.0rc1
pep8==1.7.0
psycopg2==2.7.1
pytz==2018.7
requests==2.20.0
#setproctitle==1.1.9
setproctitle==1.1.10
six==1.10.0
SQLAlchemy==0.9.8
Werkzeug==0.10.1
fhirclient==3.2.0